<h2>Create your first application</h2>
<p>
  This guide covers:
  <ul>
    <li>Configuring your IDE with modeller</li>
    <li>Generating new project</li>
    <li>Building the project</li>
    <li>Testing the project</li>
  </ul>
</p>

<h4>Install Eclipse with modelling plugins</h4>
<p>
  To be able to make use of visual modelling of your processes download Eclipse IDE and install from Marketplace
  <ul>
    <li>Eclipse BPMN2 Modeler plugin (with jBPM Runtime Extension)</li>
  </ul>
</p>
<div class="orange">Note: Currently the Eclipse IDE is the only IDE that has complete support for both process and rule modelling but the team is working on bringing in web-based embeddable BPMN2, DMN and Scenario editors to VSCode and Eclipse Che.</div>

<p>To build your own service that is powered by Kogito the best way is to start by generating project using Maven Archetype.</p>
