<div class="tabs">
  <!------------------- QUARKUS TAB ------------------->
  <input type="radio" name="run-example-tab" id="runTab1" checked="checked">
  <label for="runTab1">Quarkus</label>
  <div class="tab">

    <h2>Quarkus</h2>

    <p>Open your command line and go into the jbpm-quarkus-example folder.  First we will build the service.  Based on the process definitions, this will generate the necessary code to turn this into domain-specific order service with REST endpoints to start, list and remove orders.<br/><br/>For local development, you have 3 options to build and start the service:
      <ul>
        <li>Since the service runs on top of Quarkus, you can take advantage of the development capabilities that Quarkus offers (like live reload etc.), and run the service in Quarkus development mode.</li>
        <li>You can also run the service as a regular Java service.</li>
        <li>You can take advantage of native image compilation (requires GraalVM), which will further optimize and minimize the service using native image compilation.</li>
      </ul>
    </p>
    <h3>Build and run in development mode</h3>
    <pre><code>mvn clean package quarkus:dev</code></pre>

    <h3>Build and run in JVM mode</h3>

    <pre><code>
mvn clean package 
java -jar target/jbpm-quarkus-example-{version}-runner.jar  
or on Windows
java -jar target\jbpm-quarkus-example-{version}-runner.jar
    </code></pre>

    <h3>Build and run in native mode (requires GraalVM)</h3>
    <pre><code>
mvn clean package -Pnative
./target/jbpm-quarkus-example-{version}-runner
    </code></pre>

    <div class="orange">Note: This does not yet work on Windows, GraalVM and Quarkus should be rolling out support for Windows soon.</div>

    <h3>Test the running service</h3>
    <p>Once the service is up and running, you can use the following examples to interact with the service.  Below are curl command you can run to do the REST calls but feel free to use the tool of your choice as well.</p>

    <h3>POST /orders</h3>
    <p>Allows to create a new order with the given data:</p>
    <pre><code>curl -d '{"approver" : "john", "order" : {"orderNumber" : "12345", "shipped" : false}}' -H "Content-Type: application/json" -X POST http://localhost:8080/orders</code></pre>

    <p>As response the updated order is returned.</p>

    <h3>GET /orders</h3>
    <p>Returns list of orders currently active:</p>
    <pre><code>curl -X GET http://localhost:8080/orders</code></pre>
    <p>As response an array of orders is returned.</p>

    <h3>GET /orders/{id}</h3>
    <p>Returns order with given id (if active):</p>
    <pre><code>curl -X GET http://localhost:8080/orders/1</code></pre>
    <p>As response a single order is returned if found, otherwise no content (204) is returned.</p>

    <h3>DELETE /orders/{id}</h3>
    <p>Cancels order with given id</p>
    <pre><code>curl -X DELETE http://localhost:8080/orders/1</code></pre>
    <p>You can try out other examples as well, all of them are equipped with a Readme file describing how to use them.</p>
  </div>
  
  <!------------------- SPRINGBOOT TAB ------------------->
  <input type="radio" name="run-example-tab" id="runTab2">
  <label for="runTab2">SpringBoot</label>
  <div class="tab">
    
    <h2>Spring boot</h2>

    <p>Open your command line and go into the jbpm-springboot-example folder. First we will build the service.  Based on the process definitions, this will generate the necessary code to turn this into domain-specific order service with REST endpoints to start, list and remove orders.<br/><br/>For local development, you have 2 options to build and start the service:
      <ul>
        <li>Since the service runs on top of SpringBoot, you can take advantage of the development capabilities that SpringBoot offers and run the service using the SpringBoot maven plugin.</li>
        <li>You can also run the service as a regular Java service.</li>
      </ul>
    </p>

    <h3>Build and run in development mode</h3>
    <pre><code>mvn clean package spring-boot:run</code></pre>

    <h3>Build and run in JVM mode</h3>
    <pre><code>
mvn clean package 
java -jar target/jbpm-springboot-example-{version}.jar  
or on Windows
java -jar target\jbpm-springboot-example-{version}.jar
    </code></pre>

    <h3>Test the running service</h3>
    <p>Once the service is up and running, you can use the following examples to interact with the service.  Below are curl command you can run to do the REST calls but feel free to use the tool of your choice as well.</p>

    <h3>POST /orders</h3>
    <p>Allows to create a new order with the given data:</p>
    <pre><code>curl -d '{"approver" : "john", "order" : {"orderNumber" : "12345", "shipped" : false}}' -H "Content-Type: application/json" -X POST http://localhost:8080/orders</code></pre>

    <p>As response the updated order is returned.</p>

    <h3>GET /orders</h3>
    <p>Returns list of orders currently active:</p>
    <pre><code>curl -X GET http://localhost:8080/orders</code></pre>
    <p>As response an array of orders is returned.</p>

    <h3>GET /orders/{id}</h3>
    <p>Returns order with given id (if active):</p>
    <pre><code>curl -X GET http://localhost:8080/orders/1</code></pre>
    <p>As response a single order is returned if found, otherwise no content (204) is returned.</p>

    <h3>DELETE /orders/{id}</h3>
    <p>Cancels order with given id</p>
    <pre><code>curl -X DELETE http://localhost:8080/orders/1</code></pre>
    <p>You can try out other examples as well, all of them are equipped with a Readme file describing how to use them.</p>
  </div>
</div>
