<div class="grid__item width-4-12 width-12-12-m">
    <div class="gs-item">
      <div class="step">1</div>
      <div class="step-desc">
          You need <a href="https://en.wikipedia.org/wiki/Comparison_of_integrated_development_environments#Java" target="_blank">an IDE</a> like <a href="https://code.visualstudio.com/Download">VSCode</a> (preferred), <a href="https://www.jetbrains.com/idea/download/">IntelliJ IDEA</a>, or <a href="https://www.eclipse.org/downloads/">Eclipse</a>!
      </div>
    </div>
  </div>
  <div class="grid__item width-4-12 width-12-12-m">
    <div class="gs-item">
      <div class="step">2</div>
      <div class="step-desc">
        <div class="step-desc">
          You need a <a href="https://adoptopenjdk.net/" target="_blank">JDK 11</a> with JAVA_HOME system property set.
        </div>
        <div class="step-desc">
          Optionally get <a href="https://www.graalvm.org/" target="_blank">GraalVM</a> 20.2.0 for native compilation.
        </div>
      </div>
    </div>
  </div>
  <div class="grid__item width-4-12 width-12-12-m">
    <div class="gs-item">
      <div class="step">3</div>
      <div class="step-desc">
        <div class="step-desc">
          You need <a href="https://maven.apache.org/" target="_blank">Apache Maven 3.6.2+</a>.
        </div>
      </div>
    </div>
  </div>