<div class="highlights-alternating-images-band">
  <div class="highlights-alternating-inline-block">
    <div class="grid-wrapper">
      <div class="width-4-12 width-12-12-m block-image">
        <img src="{{site.baseurl}}/assets/images/homepage/homepage_graphic_1.png">
      </div>
      <div class="width-8-12 width-12-12-m block-content">
        <h2 class="gray">Kogito ergo Cloud</h2>
        <p>Kogito is designed from ground up to run at scale on cloud infrastructure. If you think about business automation think about the cloud as this is where your business logic lives these days. By taking advantage of the latest technologies (Quarkus, knative, etc.), you get amazingly fast boot times and instant scaling on orchestration platforms like Kubernetes.</p>
      </div>
    </div>
  </div>
  <div class="highlights-alternating-inline-block">
    <div class="grid-wrapper">
      <div class="width-8-12 width-12-12-m block-content mobile-flip">
        <h2 class="gray">Kogito ergo domain</h2>
        <p>Kogito adopts to your business domain rather than the other way around. No more leaking abstraction of the tool into your client applications. Stay focused on what the business is about instead of being concerned with technology behind it.</p>
      </div>
      <div class="width-4-12 width-12-12-m block-image">
        <img src="{{site.baseurl}}/assets/images/homepage/homepage_graphic_2.png">
      </div>
    </div>
  </div>
  <div class="highlights-alternating-inline-block">
    <div class="grid-wrapper">
      <div class="width-4-12 width-12-12-m block-image">
        <img src="{{site.baseurl}}/assets/images/homepage/homepage_graphic_3.png">
      </div>
      <div class="width-8-12 width-12-12-m block-content">
        <h2 class="gray">Kogito ergo power</h2>
        <p>Kogito offers a powerful developer experience based on battle-tested components. Achieve instant developer efficiency by having:
          <ul>
            <li>Tooling embeddable wherever you need it</li>
            <li>Code generation taking care of 80% of the work</li>
            <li>Flexibility to customize, only use what you need • Simplified local development with live reload</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>
