<div class="homepage-hero-band">
  <div class="wrapper">
    <div class="width-12-12">
      <h1>Kogito ergo automate</h1>
      <h2>Cloud-native business automation for building intelligent applications, backed by battle-tested capabilities.</h2>
      <a href="{{site.baseurl}}/get-started/" class="button-cta">Get Started</a>
      <a href="https://docs.kogito.kie.org/latest/html_single/#chap-kogito-release-notes" id="latestVersion" class="button-cta">Latest updates</a>
    </div>
  </div>
</div>
