.navigation {
  padding-top: .5rem;
}

.navigation .logo-wrapper {
  padding-top: 0;

  .project-logo {
    max-width: 180px;
    margin-top: .5rem;
  }
}

nav ul li {
  a.active, 
  a.active:hover, 
  a.active:focus, 
  a.active:visited {
    font-weight: 400;
    border-bottom: 4px solid $orange;
    color: $link-visited;
    @media screen and (max-width: 1024px) {
      border: none;
    }
  }
}

nav .nav-mobile {
  top: 2.5rem;
}

nav .nav-mobile,
nav ul.nav-list li {
  a {
    text-transform: uppercase;
    color: $link-visited;
    &:hover, &:focused, &:visited {
      color: $link-visited;
    }
  }
  a.button-cta {
    text-transform: uppercase;
    color: $white;
    line-height: 2.5;
    padding: 2px 10px 0 10px;
  }
}

#nav-toggle {
  span,
  span:before,
  span:after {
    background: $dark-blue;
  }
}