.navigation {
  padding-top: .5rem;
}

.navigation .logo-wrapper {
  padding-top: 0;
}

nav ul li {
  a.active, a.active:hover {
    font-weight: 400;
    border-bottom: 4px solid $orange;
    @media screen and (max-width: 1024px) {
      border: none;
    }
  }
}

nav ul.nav-mobile,
nav ul.nav-list li {
  a {
    text-transform: uppercase;
    color: $link-visited;
    &:hover, &:focused, &:visited {
      color: $link-visited;
    }
  }
  a.button-cta {
    text-transform: uppercase;
    color: $white;
    line-height: 2.5;
    padding: 2px 10px 0 10px;
  }
}