---
layout: base
---

<div class="grid-wrapper">
  <div class="width-4-12 width-12-12-m gs-item">
    <div class="step">1</div>
    <div class="step-desc">You need an IDE like <a href="#" target="_blank">IntelliJ IDEA</a>, <a href="#" target="_blank">Eclipse</a> or <a href="#" target="_blank">VSCode</a>. Eclipse is preferred with the BPMN modeler plugin.</div>
  </div>
  <div class="width-4-12 width-12-12-m gs-item">
    <div class="step">2</div>
    <div class="step-desc">You need <a href="#" target="_blank">JDK 8 to 11</a> with <a href="#" target="_blank">JAVA_HOME system property set correctly</a>.<br/><br/>Optionally, get <a href="#" target="_blank">GraalVM 19.0.2+</a> for native compilation with the <a href="#" target="_blank">GRAALVM_HOME system property set correctly</a>.</div>
  </div>
  <div class="width-4-12 width-12-12-m gs-item">
    <div class="step">3</div>
    <div class="step-desc">You need <a href="#" target="_blank">Apache Maven 3.5.3 or later</a>.</div>
  </div>
</div>
<hr>
<div class="grid-wrapper">
  <div class="content-centered">{{ content }}</div>
</div>
